:root {
  --font-mono: 'Inter', sans-serif;
  --bg-color: #1A1922;
  --bg2-color: #21202D;
  --text-color: #fefefe;
  --primary-color: #47D3F1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--text-color));
}

a {
  color: inherit;
  text-decoration: none;
}