.main {
  display: flex;
  min-height: 100vh;
  background-color: var(--bg-color);
}

.main h1 {
  color: var(--text-color);
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
