.homePage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.welcome {
  color: var(--primary-color);
  font-size: 3rem;
}

.loggedText {
  color: var(--text-color);
  font-size: 1.25rem;
  margin: 0.5rem 0;
}