.formContainer {
  display: flex;
  height: 100%;
}

.formContainer form {
  background-color: #000;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 50%;
  justify-content: center;
}

.formContainer .bgContainer {
  width: 100%;
  flex: 80%;
  position: relative;
}

.formContainer .bgContainer .bgImg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


@media screen and (max-width: 768px){
  .formContainer .bgContainer {
    display: none;
  }
}

@media screen and (max-width: 992px){
  .formContainer form {
    flex: 80%;
  }
}